<form id="searchbox" method="POST" action="/search">
    <input type="text" size="12" name="search" placeholder="Type here..." />
    <input id="button-submit" type="submit" value="Search" />
</form>
<div class="topnav" id="myTopnav">
    <a href="/index" class="active">Home</a>
    <a href="/post">Post</a>
    <a href="/author">Personal page</a>
    <a href="/list_author">List authors</a>
    <a href="/list_allPost">All paper post</a>
    <a href="/logout" onclick="function_logout()">Logout</a>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<script language="javascript" src="/js/js.js"></script>